extends _layout

block variables
    - var title= 'Home'
    - var banana= 'rgb(255, 249, 221)'
    - var apple= 'rgb(234, 255, 221)'
    - var carrot= 'rgb(255, 246, 221)'
    - var mango= '#ffe9d5'
    - var vanilla= '#fcf8ed'
    - var melon= '#e9ffd5'
    - var chocolate= '#eee3d8'
    - var coffee= '#fff4e9'
    - var watermelon= '#ffe5e5'
    - var strawberry= '#ffdbe3'

block content
    .block
        section#smoothies-list.smoothies-list.block
            h1 Top 10 Smoothies

            ul
                li.apple
                    a(href="panel-1" data-color=apple)
                        include _svg/_apple.pug
                li.coffee
                    a(href="panel-2" data-color=coffee)
                        include _svg/_coffee.pug
                li.mango
                    a(href="panel-3" data-color=mango)
                        include _svg/_mango.pug
                li.vanilla
                    a(href="panel-4" data-color=vanilla)
                        include _svg/_vanilla.pug
                li.carrot
                    a(href="panel-5" data-color=carrot)
                        include _svg/_carrot.pug
                li.chocolate
                    a(href="panel-6" data-color=chocolate)
                        include _svg/_chocolate.pug
                li.melon
                    a(href="panel-7" data-color=melon)
                        include _svg/_melon.pug
                li.watermelon
                    a(href="panel-8" data-color=watermelon)
                        include _svg/_watermelon.pug
                li.banana
                    a(href="panel-9" data-color=banana)
                        include _svg/_banana.pug
                li.strawberry
                    a(href="panel-10" data-color=strawberry)
                        include _svg/_strawberry.pug


        .panel-items.block

            .panel-item.block(data-panel="panel-1")
                include _pages/_apple-panel.pug  

            .panel-item.block(data-panel="panel-2")
                include _pages/_coffee-panel.pug

            .panel-item.block(data-panel="panel-3")
                include _pages/_mango-panel.pug

            .panel-item.block(data-panel="panel-4")
                include _pages/_vanilla-panel.pug

            .panel-item.block(data-panel="panel-5")
                include _pages/_carrot-panel.pug

            .panel-item.block(data-panel="panel-6")
                include _pages/_choco-panel.pug

            .panel-item.block(data-panel="panel-7")
                include _pages/_melon-panel.pug

            .panel-item.block(data-panel="panel-8")
                include _pages/_watermelon-panel.pug

            .panel-item.block(data-panel="panel-9")
                include _pages/_banana-panel.pug

            .panel-item.block(data-panel="panel-10")
                include _pages/_strawberry-panel.pug

        #footer
            .created-by.right
                span Developed by &nbsp;
                a(href='https://github.com/OlgaTheDev') OlgaKulik

            .credits.left
                span Credits svgs: &nbsp;
                a(href='http://www.freepik.com' target="_blank") Freepik


